.input{
  margin-bottom: 15px;
}

ion-button.button-native{
  padding-top: 18px !important; 
}

.title{
  margin-bottom: 5px;
  font-size: large;
}

.logo{
  color: red;
  font-size: 100px;
  stroke: blue;
  margin-bottom: 20px;
}